In [ ]:
import pandas as pd
import pyodbc

sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=MR-ROBOT\SQLEXPRESS;DATABASE=Netflixdb;Trusted_Connection=yes') 
query ="select * from dbo.customer"
df = pd.read_sql(query, sql_conn)
l=df.values.T.tolist()
l

In [ ]:
import pandas as pd
import pyodbc

df=pd.read_csv("C:/Users/anude/Desktop/netflix_films/netflix_titles.csv")
df=df.dropna(subset=df.columns,axis=0)
df

In [ ]:
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=MR-ROBOT\SQLEXPRESS;DATABASE=Netflixdb;Trusted_Connection=yes') 
cursor=sql_conn.cursor()
records=df.values.tolist()
statement=f"""
INSERT INTO dbo.Netflix
values(?,?,?,?,?,?,?,?,?,?,?,?);
"""
count=0
for r in records:
        cursor.execute(statement,r)
        sql_conn.commit()
cursor.close()
sql_conn.close()
print(count)

In [ ]:
"""
cursor.execute("insert into dbo.Netflix(['show_id'],['type'],[title],['director'],['cast'],['country'],['date_added'],['release_year'],['rating'],['duration'],['listed_in'],['description']) values(?,?,?,?,?,?,?,?,?,?,?,?)",
                    row['show_id'],row['type'],row['title'],row['director'],row['cast'],row['country'],row['date_added'],['release_year'],row['rating'],row['duration'],row['listed_in'],row['description'])
     
"""

#you can give n number of columns and data but if u get truncated exception or error means u have given less size while table creation 
#like varchar(2) where the requirement is varchar(20)
#so alter the table and then try this it will success for any number of columns and n size of data also